.main{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 80vh;
    background-color: #faf7f7;
    // box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    // border-radius: 0 0 20px 20px ;

    padding: 28px 50px;

    .torg{

        span{
            font-family: 'inter', sans-serif;
            font-style: normal;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px; 
            padding-right: 10px;
        }

        input{
            width: 200px;
            margin-right: 20px;
        
            padding: 10px 0px;
            padding-left: 15px;
            border-radius: 4px;
            border: 1px solid #9d9c9c;
            outline: none;
            margin-right: 10px;
        
            color: #000;  
        }
    }

    button {
        display: flex;
        height: 44px;
        padding: 12px 28px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        height: 44px;
        padding: 12px 28px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px; 
        color: #FDFDFD;
        border: 1.5px solid #3498db;
        background: #3498db;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        
        &:hover {
            border: 1.5px solid #3498db;
            background-color: transparent;
            color: #3498db;
            text-decoration: none;
        }

        &:disabled {
            background: lightgray;
            color: darkgray;
            cursor: not-allowed;
            border: 1.5px solid lightgray;
          }
    } 
      
}