.navbar{
    display: flex;

    justify-content: space-between;
    align-items: center;


    background-color: #faf7f7;

    padding: 28px 50px;

    img{
        width: 130px;
        height: 60px;

        cursor: pointer;
    }

    .navbar__items{
        display: flex;
        align-items: center;
        gap: 15px;

        .profile{
            display: flex;
            align-items: center;

            width: 45px;
            height: 45px;
            color: #14c9f1;
    
            border-radius: none;
            background-color: #ffff;
            border-radius: 30px;
    
            cursor: pointer;
        }

        button {
            display: flex;
            height: 44px;
            padding: 12px 28px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            
            border-radius: 57px;
            
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; 
            color: #FDFDFD;
            border: 1.5px solid #14c9f1;
            background: #14c9f1;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            
            &:hover {
                border: 1.5px solid #14c9f1;
                background-color: transparent;
                color: #14c9f1;
                text-decoration: none;
            }
        } 


        .navbar__message{
            display: flex;
            height: 44px;
            padding: 12px 28px;
            justify-content: center;
            align-items: center;
            gap: 10px;
    
            border-radius: 57px;
    
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; 
            color: #FDFDFD;
            border: 1.5px solid #14c9f1;
            background: #14c9f1;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
    
            &:hover {
                border: 1.5px solid #14c9f1;
                background-color: transparent;
                color: #14c9f1;
            }
        }

    }

}

@media (max-width: 500px){
    .navbar{
        margin-top: 0;

        padding: 20px 20px;
    }
}

@media (max-width: 400px){
    .navbar{

        padding: 15px 15px;

        img{
            width: 115px;
            height: 55px;
    
        }

        .navbar__items{
            gap: 7px;

            button {
                font-size: 12px;
                line-height: 16px;

                padding: 12px 15px;
                border-radius: 15px;
            } 
        }
    }
}
